html {
	height: 100%;
	background: url(images/me2.jpg) no-repeat center left fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Open sans', sans-serif;
	color: #e2e1b3;
}

.content-wrapper {
    background-color: rgba(77, 0, 0, 0.75);
}

.section {
	margin-top: 16px;
}

/*paper-tabs {
	background-color: #3C2263;
	color: #e2e1b3;
}*/