html, body {
	min-width: 288px;
}

html {
	/*min-width: 372px;*/
	height: 100%;
	background: url(images/me2.jpg) no-repeat center left fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Open sans', sans-serif;
	color: #e2e1b3;
}

p {
	margin-top: 0px;
}

.content-wrapper {
    background-color: rgba(77, 0, 0, 0.75);
}

.section {
	margin-top: 16px;
}

#my-name {
	margin: 0px;
	text-align: center;
}

#intro-info {
	background: rgba(60, 34, 99, 0.92);
}

.logo {
	text-decoration:none;
	margin-right: 8px;
}

@media only screen and (max-width : 856px) {
	#left-half {
		display: none;
	}
}

/*lower font size*/
@media only screen and (max-width : 372px) {
	#tabs {
		font-size: 0.7em;
	}
}